<!DOCTYPE html>
<html lang="en">
{% extends 'main.html' %}
{% load static %}

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Show One Product</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/shop-item.css' %}" rel="stylesheet">

</head>

<body>

      {% block content %}
      <div class="row">

        <div class="col-lg-3">
          <h1 class="my-4" href="{% url 'store' %}">Artists for Autistic Adults (A3)</h1>
          <div class="list-group">
            <a href="https://www.etsy.com/shop/LoopyGlass?ref=simple-shop-header-name&listing_id=783983548" class="list-group-item">Kim Carr Glass Art</a>
            <a href="http://www.lynetteleyart.com/about" class="list-group-item">Lynette Ley Water Colors</a>
            <a href="https://stephenjosephphoto.gallery/bio-info-page" class="list-group-item">Stephen Joseph Photography</a>
            <a href="https://store.steampowered.com/app/1278040/Storynth/" class="list-group-item">Julia Barker Game Dev</a>
            <a href="https://www.savagerecords.com/wordpressnew/about/" class="list-group-item">Matt Savage Jazz Piano</a>
            <a href="https://www.ktvu.com/news/san-jose-man-with-autism-shows-remarkable-gift-on-the-piano" class="list-group-item">ChiLing Wu Piano and More</a>
          </div>
        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

          <div class="card mt-4">
            <div style="flex:2"><img class="card-img-top img-fluid w-75 mx-auto d-block pt-5"src="{{product.imageURL}}" alt="photo of single product"></div>
            <div class="card-body">
              <h3 class="card-title">{{product.name}}</h3>
              <h4>${{product.price|floatformat:2}}</h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente dicta fugit fugiat hic aliquam itaque facere, soluta. Totam id dolores, sint aperiam sequi pariatur praesentium animi perspiciatis molestias iure, ducimus!</p>
              
            </div>
          </div>
          <!-- /.card -->

          <div class="card card-outline-secondary my-4">
            <div class="card-header">
              Product Reviews
            </div>
            <div class="card-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
              <small class="text-muted">Posted by Anonymous on 3/1/17</small>
              <hr>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
              <small class="text-muted">Posted by Anonymous on 3/1/17</small>
              <hr>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
              <small class="text-muted">Posted by Anonymous on 3/1/17</small>
              <hr>
              <a href="#" class="btn btn-success">Leave a Review</a>
            </div>
          </div>
          <!-- /.card -->

        </div>
        <!-- /.col-lg-9 -->

      </div>
      <!-- /.row -->
      {% endblock content %}


  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

  <script type="text/javascript" src="{% static 'js/shop_cart.js' %}"></script>

</body>

</html>
